@use 'variables'as *;


section{
  display: flex;
  margin: 40px;
  gap: 7rem;
  margin-top: -40px;
}

.main__product{
  height: 28rem;
  width: 29rem;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  &__selected{
    outline: 3px solid rgb(255, 136, 1);
   filter: brightness(1.1); 
   opacity: 0.7; 

  }
  &__choices{
    height: 6rem;
  width: 6rem;
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 1rem;
  border-radius: 10%;
  cursor: pointer;

  &:hover{
    opacity: 0.5;
  }
  }
}

.main__part{
  margin-top: 4rem;
display: flex;
flex-direction: column;
z-index: -10;
  &__small__header{
    color: $dark-grayish-blue;
    font-size: 0.8rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    
  }
  & h1{
    font-size: 2.5rem;
    overflow: hidden;
    margin-bottom: 1.8rem;
  }

  &__description{
    font-size: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    color: $dark-grayish-blue;
    line-height: 1.7;
  }
}
.price{
  display: flex;
  gap: 2rem;
  &__original{
    font-weight: 700;
    color: $dark-grayish-blue;
    margin: 12px 0;
    font-size: 1rem;
    text-decoration: line-through;
  }
  &__discount{
    height: 1.8rem;
    width: 3.5rem;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    font-weight: 600;
    border: none;
    background-color: #000;
  border-radius: 5px;
    color: $white;
  }
}

.order__registration{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  
  z-index: 1;
  gap: 2rem;

  &__number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;  
    height: 4rem;
    border: none;
    background-color: $light-grayish-blue;
    border-radius: 10px; 
    padding: 0 1rem;
  }
  &__plus__button{
    border: none;
    background-color: $light-grayish-blue;
    position: relative;
    z-index: 1; 
    pointer-events: auto; 
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
  }
  &__minus__button{
    border: none;
    background-color: $light-grayish-blue;
    position: relative; 
    font-size: 0.1rem;
    z-index: 1; 
    pointer-events: auto; 
    cursor: pointer;
    padding: 10px;
  }
  
}

.addtocart{
  padding: 15px;
  background-color: $orange;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  width: 18rem;
  text-align: center;
  cursor: pointer;
  
&:hover{
  
  background-color: hsl(26, 100%, 75%);

}
}
.cart-icon{
  filter: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(3189%) hue-rotate(175deg) brightness(100%) contrast(95%);
  margin-right: 16px;
}


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 10;
  flex-direction: column;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

#close-lightbox{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.box__shadow{
display: flex;
flex-direction: row;
}
.previous{
  position: absolute;
  
  left: 300px;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.next{
  position: absolute;
  
  right: 300px;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.previous__responsive{
  display: none;
}
.next__responsive{
  display: none;
}
.nav{
  display: none;
}
